<a href="https://colab.research.google.com/github/codingprahlad/Python-learning/blob/main/Conditionall_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
age = 20

if age >= 18:
    print("Eligible to vote")

Eligible to vote

In [33]:
vote = 18

if( vote <= 17 ) :
  print("not elligible")
else:
  print("he can vote")

he can vote

In [10]:
n =int(input("Enter a number:"))

if ( n % 2 == 0):
  print("even number")
else:
  print("odd number")

Enter a number:56
even number

In [16]:
pos = int(input("Enter a number:"))
if ( pos > 0 ) :
  print("positive number")
else :
  print("negetive  number")

Enter a number:-9
negetive  number

In [19]:
student = 21


if ( student >= 25) :
  print("pass")
else:
  print("fail")

fail

In [22]:
num = 56

if( num % 3 == 0):
  print("divisible")
else:
  print("not divisible")

not divisible

In [26]:
a = 15
b = 20

if (a == b) :
  print("equal numbers")
else:
  print("not equal numbers")

not equal numbers

In [37]:
username = str(input("Enter your username:"))
password = int(input("Enter your password:"))

if (username == "prahlad" and password == 1234) :
  print("Login succesfully")
else :
  print("Unseccesfull")

Enter your username:prahlad
Enter your password:7853
Unseccesfull

In [38]:
fruits = ["apple", "banana", "mango"]

if "banana" in fruits:
    print("Banana is available")

Banana is available

In [42]:
age = int(input("Enter your age:"))


if (age <= 12):
  print("Child")
elif (age <= 18) :
  print("Teenager")
elif (age <= 30) :
  print("Young adult")
else :
  print("Very young")

Enter your age:21
Young adult

In [42]:
a = 25

if (a != 0):
  if(a > 0):
    if (a % 2 == 0):