<a href="https://colab.research.google.com/github/codingprahlad/Python-learning/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
comp_sce = ["web developer", "data analyst","frontend developer","data scintist","devops","software tester"]

def lis (list) :
  print(len(list))
  return list

lis (comp_sce)

6

['web developer',
 'data analyst',
 'frontend developer',
 'data scintist',
 'devops',
 'software tester']

In [ ]:
lis (comp_sce)

6

['web developer',
 'data analyst',
 'frontend developer',
 'data scintist',
 'devops',
 'software tester']

In [ ]:
lis = ["web developer", "data analyst","frontend developer","data scintist","devops","software tester"]

def new_lis (lis) :
  print(len(lis))
  return lis

new_lis (lis)

6

['web developer',
 'data analyst',
 'frontend developer',
 'data scintist',
 'devops',
 'software tester']

In [ ]:
lis_3 = ["web developer", "data analyst","frontend developer","data scintist","devops","software tester"]

def one_line (lis_3) :
  for item in lis_3 :
    print(item, end="")

one_line (lis_3)

web developerdata analystfrontend developerdata scintistdevopssoftware tester

In [ ]:
n = int(input("Enter your number:"))
fact = 1

for i in range(1, n+1) :
  fact *= i
print(fact)

Enter your number:2
2

In [ ]:
def fact_cal (n) :
  fact = 1
  for i in range(1, n+1) :
    fact *= i
  print(fact)
fact_cal (8)

40320

In [ ]:
def converter (usd_val) :
  ind_val = usd_val * 89
  print(usd_val, "USD = ", ind_val , "INR")
converter (73)

73 USD =  6497 INR

In [ ]:
a = int(input("Enter a number:"))

def even_odd (a) :
  if (a % 2 == 0) :
    return "EVEN"
  else :
    return "ODD"

even_odd (5)

Enter a number:89

'ODD'

In [ ]:

def sum_1 (a,b):
  c = a + b
  print(c)


sum_1 (2,3)

5

In [ ]:
def show (n) :
  if (n == 0) :
    return
  print(n)
  show(n-1)
show (6)

6
5
4
3
2
1

In [ ]:
def cal_fact(n) :
  if(n == 1 or  n == 0):
    return 1
  return cal_fact(n-1) * n
cal_fact(6)

720

In [ ]:
def natural (n) :
  if(n == 0):
    return 0
  return natural(n-1) + n


sum = natural(5)
print(sum)

15

In [ ]:
def cal_sub (a,b) :
  return (a-b)

sum = cal_sub(20,6)
print(sum)

14

In [ ]:
def hello_new() :
  print("Hello")

hello_new()

Hello

In [ ]:
def new() :
  print("hello0")

output = new()
print(output)

hello0
None

In [ ]:
def some_list(a, b, c, d, e) :
  new = sum([a, b, c, d, e])
  new1 = len ([a, b, c, d, e])
  total = new / new1
  return total


a = some_list(3,4,5,6,6)
print(a)

TypeError: 'int' object is not callable

In [ ]:
def some_list(a, b, c, d, e):
    data = [a, b, c, d, e]
    new = len(data)
    print(new)

some_list(64, 7, 8, 9, 6)

5

In [ ]:
def abc():
  print("Data anayst")

In [ ]:
abc()

Data anayst

In [ ]:
def add(a,b) :
  c = a + b
  print("The sum is: ", c)

In [ ]:
add(7,8)

The sum is:  15

In [ ]:
def sub (a,b) :
  c = a - b
  print("The diference is: ", c)

In [ ]:
sum(4,6)

10

In [ ]:
sub (15, 5)

The diference is:  10

In [ ]:
def cal(x) :
  if ( x == 0) :
    print("not divisible")
  elif ( x % 3 == 0) :
    print("devisible by 3")
  else :
    print("Not devisible by 3")

In [ ]:
cal (5)

Not devisible by 3

In [ ]:
def even_odd(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [ ]:
even_odd(7)

Odd