<a href="https://colab.research.google.com/github/codingprahlad/Python-learning/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [72]:
list = [1,2,3,4]

for el in list:
  print(el)

1
2
3
4

In [73]:
tup = (1, 2, 3, 51, 344, 33)

for num in tup :
  print(num)

1
2
3
51
344
33

In [74]:
s = {5, 10, 15}

for prahlad in s:
    print(prahlad)

10
5
15

In [75]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [76]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [77]:
str = "prahlad"
for hl in str:
  print(hl)

p
r
a
h
l
a
d

In [78]:
name = "python"
for ch in name:
    print("ch")

ch
ch
ch
ch
ch
ch

In [79]:
i = 2
while i <= 10:
    print(i)
    i += 2

2
4
6
8
10

In [80]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [81]:
i = 1
total = 0
while i <= 5:
    total += i
    i += 1
print(total)

15

In [82]:
for i in range(1, 11):
    print(5 * i)

5
10
15
20
25
30
35
40
45
50

In [83]:
for i in range(1, 10):
    if i == 9:
        break
    print(i)

1
2
3
4
5
6
7
8

In [84]:
count = 0
nums = [5, 10, 15, 20]
for n in nums:
    count += 1
print(count)

4

In [85]:
data = [10, 20, 30, 40]
i = 0
while i < len(data):
    print(data[i])
    i += 1

10
20
30
40

In [86]:
nums = [1, 3, 5, 7]
x = 5
for n in nums:
    if n == x:
        print("Found")

Found

In [87]:
str = "apanacollage"

for char in str :
  if ( char == "l") :
    print("l found")
    break
  print(char)

print("END")

a
p
a
n
a
c
o
l found
END

In [88]:
lis = [1,4,464, 73, 83,4738, 9383, 3683,]

for ele in lis :
  print(ele)

1
4
464
73
83
4738
9383
3683

In [89]:
lis = (1,4,464, 73, 83,4738, 9383, 3683,73)

x = 73
idx = 0
for el in lis :
  if ( el == x):
    print("found number", idx)
  idx += 1

found number 3
found number 8

In [90]:
seq = range(10)

for i in seq :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [91]:


for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [92]:
for el in range(1, 100):
  print(el)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [93]:
for el in range(100, 1, -1):
  print(el)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [94]:
new = int(input("Enter a number:"))

for i in range(1, 11) :
  print( new * i)

Enter a number:5
5
10
15
20
25
30
35
40
45
50

In [95]:
for i in range(5) :
  pass

In [96]:
i = 6
if (i > 9) :
  pass

In [97]:
num = 5

sum=0
for i in range(1, num+1):
  sum += i

print("total number of sum:", sum)

total number of sum: 15

In [98]:
num = 5

fact = 1
i = 1
while (i <= num) :
  fact *= i
  i += 1

print("factorial:", fact)

factorial: 120

In [99]:
n = 5
fact = 1

for i in range(1, n+1) :
  fact *= i

print("factorial :", fact)

factorial : 120