<a href="https://colab.research.google.com/github/codingprahlad/Python-learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# series

In [ ]:
t = (37,47,84,3)
new = pd.Series(t)
print(new)
print(type(t))
print(type(new))

0    37
1    47
2    84
3     3
dtype: int64
<class 'tuple'>
<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4])
d1=pd.Series(arr)
print(d1)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:

d={'a':1,'b':2,'c':3,'d':4}
b = pd.Series(d)
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# DATA FRAME

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=[['abc',1],['def',2],['ghi',3],['hij'],['klm','5']]
new = pd.DataFrame(data)
print(new)
print(type(new))

     0     1
0  abc     1
1  def     2
2  ghi     3
3  hij  None
4  klm     5
<class 'pandas.core.frame.DataFrame'>

In [ ]:
data1 =pd.DataFrame(data,columns=["a","b",], index=["a","b","c","d","e"])

In [ ]:
print(data1)

     a     b
a  abc     1
b  def     2
c  ghi     3
d  hij  None
e  klm     5

In [ ]:
fr = [["prahlad",5], ["ramesh",8], ["darshan",3], ["danish",9]]
print(fr)
print(type(fr))
fr1 = pd.DataFrame(fr)
print(fr1)
print(type(fr1))

[['prahlad', 5], ['ramesh', 8], ['darshan', 3], ['danish', 9]]
<class 'list'>
         0  1
0  prahlad  5
1   ramesh  8
2  darshan  3
3   danish  9
<class 'pandas.core.frame.DataFrame'>

In [ ]:
new = pd.DataFrame(fr,columns=["freinds","points"])
print(new)

   freinds  points
0  prahlad       5
1   ramesh       8
2  darshan       3
3   danish       9

In [ ]:
new = pd.DataFrame(fr,index=["a","b","c","d"])
print(new)

         0  1
a  prahlad  5
b   ramesh  8
c  darshan  3
d   danish  9

In [ ]:
dic = {"name":["pr","gd","sc","an"], "points":[3,4,5,5,]}
print(dic)
print(type(dic))
dic1 = pd.DataFrame(dic)
print(dic1)
print(type(dic1))

{'name': ['pr', 'gd', 'sc', 'an'], 'points': [3, 4, 5, 5]}
<class 'dict'>
  name  points
0   pr       3
1   gd       4
2   sc       5
3   an       5
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd


li = ([52, 67, 82, 98, 72])
print(li)
print(type(li))

[52, 67, 82, 98, 72]
<class 'list'>

In [ ]:
d2 = pd.DataFrame(li,columns=["points"])
print(d2)

   points
0      52
1      67
2      82
3      98
4      72

In [ ]:
import pandas as pd

tup = pd.Series([52, 67, 82, 98, 72])
print(tup)
print(type(tup))

0    52
1    67
2    82
3    98
4    72
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
import numpy as np

lis = pd.Series([52, 67, 82, 98, 72])
print(lis)
print(type(lis))

In [ ]:
data = {
    "Name": ["A", "B", "C"],
    "Age": [22, 23, 21],
    "Marks": [85, 90, 88]
}

df = pd.DataFrame(data)
print(df)

  Name  Age  Marks
0    A   22     85
1    B   23     90
2    C   21     88

In [ ]:
lis_1 = [
    [1, 3, 6, 4],
    [5, 3, 7, 8, [6, 3, 8, 5]],
    [4, 5, 7, 6]
]

print(lis_1)
lis3 = pd.DataFrame(lis_1)


new = pd.DataFrame(lis_1,columns=["A","B","C","D","E"])
print(new)
print()

[[1, 3, 6, 4], [5, 3, 7, 8, [6, 3, 8, 5]], [4, 5, 7, 6]]
   A  B  C  D             E
0  1  3  6  4          None
1  5  3  7  8  [6, 3, 8, 5]
2  4  5  7  6          None

In [ ]:
import pandas as pd

data = [10, 20, 30, 40]
df = pd.DataFrame(data)

print(df)
print()

    0
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd

data = [["A", 85], ["B", 78], ["C", 92]]

d = pd.DataFrame(data)
print(d)

   0   1
0  A  85
1  B  78
2  C  92

In [ ]:
import pandas as pd

data = [
    ["A", 85],
    ["B", 78],
    ["C", 92]
]

d = pd.DataFrame(data)
print(d)

   0   1
0  A  85
1  B  78
2  C  92

In [ ]:
import pandas as pd

dic = pd.DataFrame ({
    "Marks": [24, 63, 73, 83, 93],
    "sub": ["math", "his", "kannada", "science", "english"]
})
print(dic)
print(dic.rename(columns={"sub": "Subject"}))

   Marks      sub
0     24     math
1     63      his
2     73  kannada
3     83  science
4     93  english
   Marks  Subject
0     24     math
1     63      his
2     73  kannada
3     83  science
4     93  english

In [ ]:
print(dic.rename)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.DataFrame ({
    "name":["prahlad","danish","ramesh","shravan","pavan"],
    "age":[23,63,82,38,48],

    })
print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
      name  age
0  prahlad   23
1   danish   63
2   ramesh   82
3  shravan   38
4    pavan   48

In [ ]:
b = data.rename(columns = {"name":"candidate", "age": "years"})
print(b)

  candidate  years
0   prahlad     23
1    danish     63
2    ramesh     82
3   shravan     38
4     pavan     48

In [2]:
import pandas as pd
import numpy as np

In [4]:

data =  pd.read_csv("/content/train.csv")

In [5]:
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [10]:
print(data.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [11]:
print(data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [13]:
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [16]:
print(data.describe(include="O"))

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [17]:
print(data["Pclass"].unique())

[3 1 2]

In [19]:
print(data["Sex"].unique())

['male' 'female']

In [21]:
print(data["Survived"].value_counts())

Survived
0    549
1    342
Name: count, dtype: int64

In [24]:
print(data.shape)

(891, 12)

In [25]:
print(data.Age)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [26]:
print(data["Age"])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [27]:
print(data.iloc[0:11,3:8])

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       1
8       2
9       0
10      1

In [31]:
print(data.loc[0:10, "Name":"Parch"])

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       1
8       2
9       0
10      1

In [32]:
print(data.loc[data["Age"] == 80])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

      Sex   Age  SibSp  Parch Ticket  Fare Cabin Embarked
630  male  80.0      0      0  27042  30.0   A23        S

In [36]:
print(data.loc[(data["Sex"] == "male") & (data["Age"] >= 40)])

     PassengerId  Survived  Pclass                            Name   Sex  \
6              7         0       1         McCarthy, Mr. Timothy J  male
30            31         0       1        Uruchurtu, Don. Manuel E  male
33            34         0       2           Wheadon, Mr. Edward H  male
35            36         0       1  Holverson, Mr. Alexander Oskar  male
54            55         0       1  Ostby, Mr. Engelhart Cornelius  male
..           ...       ...     ...                             ...   ...
845          846         0       3             Abbing, Mr. Anthony  male
851          852         0       3             Svensson, Mr. Johan  male
857          858         1       1          Daly, Mr. Peter Denis   male
860          861         0       3         Hansen, Mr. Claus Peter  male
873          874         0       3     Vander Cruyssen, Mr. Victor  male

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked
6    54.0      0      0       17463  51.8625   E46        S
30   40.0      0      0    PC 17601  27.7208   NaN        C
33   66.0      0      0  C.A. 24579  10.5000   NaN        S
35   42.0      1      0      113789  52.0000   NaN        S
54   65.0      0      1      113509  61.9792   B30        C
..    ...    ...    ...         ...      ...   ...      ...
845  42.0      0      0   C.A. 5547   7.5500   NaN        S
851  74.0      0      0      347060   7.7750   NaN        S
857  51.0      0      0      113055  26.5500   E17        S
860  41.0      2      0      350026  14.1083   NaN        S
873  47.0      0      0      345765   9.0000   NaN        S

[109 rows x 12 columns]

In [38]:
print(data.loc[(data["Survived"]== 1) & (data["Age"] <= 20)])

     PassengerId  Survived  Pclass                                      Name  \
9             10         1       2       Nasser, Mrs. Nicholas (Adele Achem)
10            11         1       3           Sandstrom, Miss. Marguerite Rut
22            23         1       3               McGowan, Miss. Anna "Annie"
39            40         1       3               Nicola-Yarred, Miss. Jamila
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
..           ...       ...     ...                                       ...
853          854         1       1                 Lines, Miss. Mary Conover
855          856         1       3                Aks, Mrs. Sam (Leah Rosen)
869          870         1       3           Johnson, Master. Harold Theodor
875          876         1       3          Najib, Miss. Adele Kiamie "Jane"
887          888         1       1              Graham, Miss. Margaret Edith

        Sex   Age  SibSp  Parch         Ticket     Fare Cabin Embarked
9    female  14.0      1      0         237736  30.0708   NaN        C
10   female   4.0      1      1        PP 9549  16.7000    G6        S
22   female  15.0      0      0         330923   8.0292   NaN        Q
39   female  14.0      1      0           2651  11.2417   NaN        C
43   female   3.0      1      2  SC/Paris 2123  41.5792   NaN        C
..      ...   ...    ...    ...            ...      ...   ...      ...
853  female  16.0      0      1       PC 17592  39.4000   D28        S
855  female  18.0      0      1         392091   9.3500   NaN        S
869    male   4.0      1      1         347742  11.1333   NaN        S
875  female  15.0      0      0           2667   7.2250   NaN        C
887  female  19.0      0      0         112053  30.0000   B42        S

[82 rows x 12 columns]